<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>7105894620346497</sid>
    <event-sheet>Events menu</event-sheet>
    <size>
        <width>1280</width>
        <height>720</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="bkg" sid="620667818818671">
            <initially-visible>1</initially-visible>
            <background-color>228,235,232</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Button" uid="207">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Fase>1</Fase>
                        <Atualizado>false</Atualizado>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>420.25</x>
                        <y>361</y>
                        <z>0</z>
                        <width>160</width>
                        <height>160</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Button" uid="13">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Fase>1</Fase>
                        <Atualizado>false</Atualizado>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>883</x>
                        <y>359</y>
                        <z>0</z>
                        <width>160</width>
                        <height>160</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Button" uid="38">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Fase>1</Fase>
                        <Atualizado>false</Atualizado>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>637</x>
                        <y>569</y>
                        <z>0</z>
                        <width>160</width>
                        <height>160</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="TiledBackground22" uid="37">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-1</x>
                        <y>1</y>
                        <z>0</z>
                        <width>1285</width>
                        <height>720</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Textos" sid="615099747093515">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Texto" uid="619">
                    <properties>
                        <character-width>14</character-width>
                        <character-height>16</character-height>
                        <character-set>!&quot;#$%&amp;&apos;()*+,-./0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ:;&lt;=&gt;?@[\]^_`abcdefghijklmnopqrstuvwxyz{|}~</character-set>
                        <text>Abstract Platformer Game v2.0.0.0</text>
                        <scale>2</scale>
                        <initial-visibility>Visible</initial-visibility>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Center</hotspot>
                        <wrapping>Word</wrapping>
                        <character-spacing>0</character-spacing>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>624</x>
                        <y>-142</y>
                        <z>0</z>
                        <width>1000</width>
                        <height>50</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Locked" uid="428">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>400</x>
                        <y>-73</y>
                        <z>0</z>
                        <width>50</width>
                        <height>50</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>-0.424362004</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="PlayerSprites" uid="14">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <players>1</players>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Pin" />
                        <behavior-instance type="Flash" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>384</x>
                        <y>640</y>
                        <z>0</z>
                        <width>69.782791138</width>
                        <height>140.220809937</height>
                        <depth>0</depth>
                        <hotspotX>0.511737108</hotspotX>
                        <hotspotY>1</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SprtRight" uid="33">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>512</x>
                        <y>580</y>
                        <z>0</z>
                        <width>78</width>
                        <height>62</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SprtLeft" uid="35">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>256</x>
                        <y>581</y>
                        <z>0</z>
                        <width>78</width>
                        <height>62</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite31" uid="10">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>170.932662964</x>
                        <y>175.621780396</y>
                        <z>0</z>
                        <width>181.865325928</width>
                        <height>121.243553162</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite32" uid="29">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>391.62286377</x>
                        <y>178.08190918</y>
                        <z>0</z>
                        <width>181</width>
                        <height>121</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite33" uid="39">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>610</x>
                        <y>179</y>
                        <z>0</z>
                        <width>181</width>
                        <height>121</height>
                        <depth>0</depth>
                        <hotspotX>0.502762437</hotspotX>
                        <hotspotY>0.504132211</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite34" uid="143">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>282</x>
                        <y>325</y>
                        <z>0</z>
                        <width>181</width>
                        <height>121</height>
                        <depth>0</depth>
                        <hotspotX>0.502762437</hotspotX>
                        <hotspotY>0.504132211</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite35" uid="545">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>506</x>
                        <y>324</y>
                        <z>0</z>
                        <width>181</width>
                        <height>121</height>
                        <depth>0</depth>
                        <hotspotX>0.502762437</hotspotX>
                        <hotspotY>0.504132211</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="iFrameInsertHTML" uid="546">
                    <properties>
                        <id-optional></id-optional>
                        <initial-visibility>Visible</initial-visibility>
                        <tooltip></tooltip>
                        <background></background>
                        <border></border>
                        <scroll>Auto</scroll>
                        <object>iFrame</object>
                        <iframe></iframe>
                        <url>http://bnagames.com/ad4game_new.html</url>
                        <inserthtml></inserthtml>
                        <html></html>
                        <color></color>
                        <auto-font-size>Default</auto-font-size>
                        <import></import>
                        <css-import></css-import>
                        <javascript-import></javascript-import>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>842</x>
                        <y>83</y>
                        <z>0</z>
                        <width>388.600646973</width>
                        <height>315.738037109</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                    </world>
                </instance>
                <instance type="SpriteFont2" uid="573">
                    <properties>
                        <character-width>32</character-width>
                        <character-height>30</character-height>
                        <character-set>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789.,;:?!-_~#&quot;&apos;&amp;()[]|`\/@°+=*$£€&lt;&gt;</character-set>
                        <text>SELECT LEVEL</text>
                        <scale>1</scale>
                        <initial-visibility>Visible</initial-visibility>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <character-spacing>0</character-spacing>
                        <line-height>0</line-height>
                        <char-width-json>{&quot;&quot;c2array&quot;&quot;:true,&quot;&quot;size&quot;&quot;:[2,18,1],&quot;&quot;data&quot;&quot;:[[[12],[13],[14],[15],[16],[17],[18],[19],[20],[21],[22],[23],[24],[25],[26],[27],[28],[30]],[[&quot;&quot;.`&quot;&quot;],[&quot;&quot;-&apos;\\&quot;&quot;],[&quot;&quot;,:&quot;&quot;],[&quot;&quot;=&quot;&quot;],[&quot;&quot;i;_\&quot;&quot;°+&quot;&quot;],[&quot;&quot;Il1!()*&lt;&quot;&quot;],[&quot;&quot;[]&gt;&quot;&quot;],[&quot;&quot;L~#|&quot;&quot;],[&quot;&quot;vyz?&quot;&quot;],[&quot;&quot;acfst39&amp;$&quot;&quot;],[&quot;&quot;TVYZbeoqr457£€&quot;&quot;],[&quot;&quot;CEFGJOQSghjpu268&quot;&quot;],[&quot;&quot;BRUknx0/@&quot;&quot;],[&quot;&quot;AHKPd%&quot;&quot;],[&quot;&quot;DN&quot;&quot;],[&quot;&quot;Xw&quot;&quot;],[&quot;&quot;m&quot;&quot;],[&quot;&quot;MW&quot;&quot;]]]}</char-width-json>
                        <space-char-width>-1</space-char-width>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>245</x>
                        <y>37</y>
                        <z>0</z>
                        <width>354</width>
                        <height>44</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SpriteFont3" uid="31">
                    <properties>
                        <character-width>16</character-width>
                        <character-height>16</character-height>
                        <character-set>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789.,;:?!-_~#&quot;&apos;&amp;()[]|`\/@°+=*$£€&lt;&gt;</character-set>
                        <text>Text</text>
                        <scale>1</scale>
                        <initial-visibility>Visible</initial-visibility>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <character-spacing>0</character-spacing>
                        <line-height>0</line-height>
                        <char-width-json></char-width-json>
                        <space-char-width>-1</space-char-width>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>419</x>
                        <y>788</y>
                        <z>0</z>
                        <width>64</width>
                        <height>16</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SpriteFont2" uid="574">
                    <properties>
                        <character-width>32</character-width>
                        <character-height>30</character-height>
                        <character-set>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789.,;:?!-_~#&quot;&apos;&amp;()[]|`\/@°+=*$£€&lt;&gt;</character-set>
                        <text>PLAYER SELECT</text>
                        <scale>1</scale>
                        <initial-visibility>Visible</initial-visibility>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <character-spacing>0</character-spacing>
                        <line-height>0</line-height>
                        <char-width-json>{&quot;&quot;c2array&quot;&quot;:true,&quot;&quot;size&quot;&quot;:[2,18,1],&quot;&quot;data&quot;&quot;:[[[12],[13],[14],[15],[16],[17],[18],[19],[20],[21],[22],[23],[24],[25],[26],[27],[28],[30]],[[&quot;&quot;.`&quot;&quot;],[&quot;&quot;-&apos;\\&quot;&quot;],[&quot;&quot;,:&quot;&quot;],[&quot;&quot;=&quot;&quot;],[&quot;&quot;i;_\&quot;&quot;°+&quot;&quot;],[&quot;&quot;Il1!()*&lt;&quot;&quot;],[&quot;&quot;[]&gt;&quot;&quot;],[&quot;&quot;L~#|&quot;&quot;],[&quot;&quot;vyz?&quot;&quot;],[&quot;&quot;acfst39&amp;$&quot;&quot;],[&quot;&quot;TVYZbeoqr457£€&quot;&quot;],[&quot;&quot;CEFGJOQSghjpu268&quot;&quot;],[&quot;&quot;BRUknx0/@&quot;&quot;],[&quot;&quot;AHKPd%&quot;&quot;],[&quot;&quot;DN&quot;&quot;],[&quot;&quot;Xw&quot;&quot;],[&quot;&quot;m&quot;&quot;],[&quot;&quot;MW&quot;&quot;]]]}</char-width-json>
                        <space-char-width>-1</space-char-width>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>233</x>
                        <y>657</y>
                        <z>0</z>
                        <width>354</width>
                        <height>44</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="facebook" uid="32">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>975</x>
                        <y>585</y>
                        <z>0</z>
                        <width>100</width>
                        <height>100</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="moregames" uid="575">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1144</x>
                        <y>582</y>
                        <z>0</z>
                        <width>100</width>
                        <height>100</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.50505048</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
